language: ruby
rvm:
  - 3.0
  - 3.3

branches:
  only:
    - master

before_install:
  - gem update --system
  - gem install bundler
script: "script/cibuild"
env:
  global:
  - NOKOGIRI_USE_SYSTEM_LIBRARIES=true

notifications:
  email: false

cache: bundler
