on: push
name: cibuild on push
jobs:
  build:
    name: "GitHub Pages Tests"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby:
          - 2.6
          - 2.7
    steps:
    - uses: actions/checkout@v4
    - name: script/cibuild-docker
      run: script/cibuild-docker
      env:
        RUBY_VERSION: ${{ matrix.ruby }}
