on: push
name: cibuild on push
jobs:
  build:
    name: "GitHub Pages Tests"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby:
          - 2.3
          - 2.4
          - 2.5
          - 2.6
    steps:
    - uses: actions/checkout@master
    - name: script/cibuild-docker
      run: script/cibuild-docker
      env:
        RUBY_VERSION: ${{ matrix.ruby }}
